<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label for="text-base">Текст для сравнения</label>
            <a href="#" class="float-right btm-link">
                <i class="glyphicon glyphicon-import"></i> из файла..</a>
            <!--<i class="from-file glyphicon glyphicon-download"><span>из файла..</span></i>-->
            <textarea class="form-control" id="text-base" rows="5"></textarea>
        </div>

        <!--<div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>-->

    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <a href="#" class="btn btn-primary btn-block" id="compare-with-base-btn">Сравнить</a>
    </div>
</div>

<div class="row">
    <hr>
    
    <div id="compare-result"></div>

</div>