<div class="row">
<div class="col-md-12">
    <div class="form-group files-area">
        <form id="upload-files-form">
        <input type="file" id="files" class="hidden" multiple accept=".txt,.docx"> 
        <label class="btn-link text-center" for="files">
            <i class="glyphicon glyphicon-import"></i>Выберите файлы для загрузки или перетащите их сюда
        </label>     <!--<i class="from-file glyphicon glyphicon-download"><span>из файла..</span></i>-->

        </form>
    </div>

    <!--<div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>-->

</div>

</div>
<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <a href="#" class="btn btn-primary btn-block" id="upload-files-btn">Загрузить на сервер</a>
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-12">
        <div id="upload-file-result">

        </div>
    </div>
</div>
